{% extends 'index.html' %}
{% load static %}

<head>
    <title>产品展示</title>
    {% block ext_css %}
        {{ block.super }}
        <link href="/static/css/common.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/page.css" rel="stylesheet" type="text/css" />
    {% endblock %}
</head>
<body>

{% block content2 %}
    <div id="Menu">
        <div class="Menu_style">
            <div id="allSortOuterbox" class="display">
                <div class="Category"><a href="#"><em></em>所有产品分类</a></div>
                <div class="hd_allsort_out_box_new">
                    <!--左侧栏目开始-->
                    <ul class="Menu_list">

                        {% for goodtype in goodstypes %}
                            <li class="name"><a href="#" >{{ goodtype.title }}</a>
                                <div class="menv_Detail">
                                    <div class="cat_pannel clearfix">
                                        {% for gt2 in gt2s %}
                                            {% if gt2.gparentid is goodtype.id %}
                                                <ul>
                                                    <div class="title_name">{{ gt2.title }}</div>
                                                    <li>
                                                        {% for gt3 in gt3s %}
                                                            {% if gt3.gparentid is gt2.id %}
                                                                <a href="#">{{ gt3.title }}</a>
                                                            {% endif %}

                                                        {% endfor %}
                                                    </li>

                                                </ul>
                                            {% endif %}

                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>

                </div>
            </div>
            <script>$("#allSortOuterbox").slide({ titCell:".Menu_list li",mainCell:".menv_Detail",	});</script>
            <!--菜单栏-->
            <div class="Navigation" id="Navigation">
                <ul class="Navigation_name">
                    {% for dbk in dbks %}

                        <li><a href="{% url 'app:index1' id=dbk.id  %} ">{{ dbk.hname  }}</a></li>


                    {% endfor %}





                </ul>
            </div>
            <script>$("#Navigation").slide({titCell:".Navigation_name li"});</script>
            <!--购物车-->
            <div class="Shopping_car">
                <em></em> 购物车(<b>0</b>)
            </div>
        </div>
    </div>
{% endblock %}

{% block content3 %}

{% endblock %}
{% block content4 %}
    <div id="page">
        <!--热卖商品-->
        <div class="Hot_products">
            <div class="hd">热卖产品</div>
            <ul>
                <li>
                    <div class="img"><a href="#"><img src="/static/images/cp-6.jpg" /></a></div>
                    <div class="product_js">
                        <p class="title_name"><a href="#">本地新鲜桃子名称</a></p>
                        <p >特价：<b>￥6.30</b></p>
                        <p><a href="#" class="gm_btn">立即购买</a></p>
                    </div>
                </li>
                <li>
                    <div class="img"><a href="#"><img src="/static/images/cp-6.jpg" /></a></div>
                    <div class="product_js">
                        <p class="title_name"><a href="#">本地新鲜桃子名称</a></p>
                        <p >特价：<b>￥6.30</b></p>
                        <p><a href="#" class="gm_btn">立即购买</a></p>
                    </div>
                </li>
                <li>
                    <div class="img"><a href="#"><img src="/static/images/cp-6.jpg" /></a></div>
                    <div class="product_js">
                        <p class="title_name"><a href="#">本地新鲜桃子名称</a></p>
                        <p >特价：<b>￥6.30</b></p>
                        <p><a href="#" class="gm_btn">立即购买</a></p>
                    </div>
                </li>
                <li>
                    <div class="img"><a href="#"><img src="/static/images/cp-6.jpg" /></a></div>
                    <div class="product_js">
                        <p class="title_name"><a href="#">本地新鲜桃子名称</a></p>
                        <p >特价：<b>￥6.30</b></p>
                        <p><a href="#" class="gm_btn">立即购买</a></p>
                    </div>
                </li>
            </ul>
        </div>
        <!--位置-->
        <div class="Position">当前位置：<a href="#">首页</a> > <a  href="#">产品列表</a></div>
        <!--内容展示区样式-->
        <div class="Show_style">
            <div class="Operation">
                <span><a href="#" class="on">默认</a><a href="#">销量<em></em></a><a href="#">价格<em></em></a><a href="#">上架时间</a></span>
                <span class="img_lists"><em></em><a href="#">大图</a></span>
            </div>
            <div class="product_list">
                <ul class="product_name">
                    <li>
                        <div class="p_item">
                            <div class="Weight">500g/斤</div>
                            <div class="img"><a href="#"><img src="/static/images/cp-4jpg.jpg" /></a></div>
                            <div class="p_price">普通价：<b>￥32.30</b> <span class="yuanjia">￥35.23</span></div>
                            <div class="p_name"><a href="#">金龙鱼 东北大米 粳米 生态稻大米5kg</a></div>
                            <div class="p_operate"><a href="#">加入购物车</a> <span class="Number"><b>123</b>购买</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="p_item">
                            <div class="Weight">500g/斤</div>
                            <div class="img"><a href="#"><img src="/static/images/cp-4jpg.jpg" /></a></div>
                            <div class="p_price">普通价：<b>￥32.30</b> <span class="yuanjia">￥35.23</span></div>
                            <div class="p_name"><a href="#">金龙鱼 东北大米 粳米 生态稻大米5kg</a></div>
                            <div class="p_operate"><a href="#">加入购物车</a> <span class="Number"><b>123</b>购买</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="p_item">
                            <div class="Weight">500g/斤</div>
                            <div class="img"><a href="#"><img src="/static/images/cp-4jpg.jpg" /></a></div>
                            <div class="p_price">普通价：<b>￥32.30</b> <span class="yuanjia">￥35.23</span></div>
                            <div class="p_name"><a href="#">金龙鱼 东北大米 粳米 生态稻大米5kg</a></div>
                            <div class="p_operate"><a href="#">加入购物车</a> <span class="Number"><b>123</b>购买</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="p_item">
                            <div class="Weight">500g/斤</div>
                            <div class="img"><a href="#"><img src="/static/images/cp-4jpg.jpg" /></a></div>
                            <div class="p_price">普通价：<b>￥32.30</b> <span class="yuanjia">￥35.23</span></div>
                            <div class="p_name"><a href="#">金龙鱼 东北大米 粳米 生态稻大米5kg</a></div>
                            <div class="p_operate"><a href="#">加入购物车</a> <span class="Number"><b>123</b>购买</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="p_item">
                            <div class="Weight">500g/斤</div>
                            <div class="img"><a href="#"><img src="/static/images/cp-4jpg.jpg" /></a></div>
                            <div class="p_price">普通价：<b>￥32.30</b> <span class="yuanjia">￥35.23</span></div>
                            <div class="p_name"><a href="#">金龙鱼 东北大米 粳米 生态稻大米5kg</a></div>
                            <div class="p_operate"><a href="#">加入购物车</a> <span class="Number"><b>123</b>购买</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="p_item">
                            <div class="Weight">500g/斤</div>
                            <div class="img"><a href="#"><img src="/static/images/cp-4jpg.jpg" /></a></div>
                            <div class="p_price">普通价：<b>￥32.30</b> <span class="yuanjia">￥35.23</span></div>
                            <div class="p_name"><a href="#">金龙鱼 东北大米 粳米 生态稻大米5kg</a></div>
                            <div class="p_operate"><a href="#">加入购物车</a> <span class="Number"><b>123</b>购买</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="p_item">
                            <div class="Weight">500g/斤</div>
                            <div class="img"><a href="#"><img src="/static/images/cp-4jpg.jpg" /></a></div>
                            <div class="p_price">普通价：<b>￥32.30</b> <span class="yuanjia">￥35.23</span></div>
                            <div class="p_name"><a href="#">金龙鱼 东北大米 粳米 生态稻大米5kg</a></div>
                            <div class="p_operate"><a href="#">加入购物车</a> <span class="Number"><b>123</b>购买</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="p_item">
                            <div class="Weight">500g/斤</div>
                            <div class="img"><a href="#"><img src="/static/images/cp-4jpg.jpg" /></a></div>
                            <div class="p_price">普通价：<b>￥32.30</b> <span class="yuanjia">￥35.23</span></div>
                            <div class="p_name"><a href="#">金龙鱼 东北大米 粳米 生态稻大米5kg</a></div>
                            <div class="p_operate"><a href="#">加入购物车</a> <span class="Number"><b>123</b>购买</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="p_item">
                            <div class="Weight">500g/斤</div>
                            <div class="img"><a href="#"><img src="/static/images/cp-4jpg.jpg" /></a></div>
                            <div class="p_price">普通价：<b>￥32.30</b> <span class="yuanjia">￥35.23</span></div>
                            <div class="p_name"><a href="#">金龙鱼 东北大米 粳米 生态稻大米5kg</a></div>
                            <div class="p_operate"><a href="#">加入购物车</a> <span class="Number"><b>123</b>购买</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="p_item">
                            <div class="Weight">500g/斤</div>
                            <div class="img"><a href="#"><img src="/static/images/cp-4jpg.jpg" /></a></div>
                            <div class="p_price">普通价：<b>￥32.30</b> <span class="yuanjia">￥35.23</span></div>
                            <div class="p_name"><a href="#">金龙鱼 东北大米 粳米 生态稻大米5kg</a></div>
                            <div class="p_operate"><a href="#">加入购物车</a> <span class="Number"><b>123</b>购买</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="p_item">
                            <div class="Weight">500g/斤</div>
                            <div class="img"><a href="#"><img src="/static/images/cp-4jpg.jpg" /></a></div>
                            <div class="p_price">普通价：<b>￥32.30</b> <span class="yuanjia">￥35.23</span></div>
                            <div class="p_name"><a href="#">金龙鱼 东北大米 粳米 生态稻大米5kg</a></div>
                            <div class="p_operate"><a href="#">加入购物车</a> <span class="Number"><b>123</b>购买</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="p_item">
                            <div class="Weight">500g/斤</div>
                            <div class="img"><a href="#"><img src="/static/images/cp-4jpg.jpg" /></a></div>
                            <div class="p_price">普通价：<b>￥32.30</b> <span class="yuanjia">￥35.23</span></div>
                            <div class="p_name"><a href="#">金龙鱼 东北大米 粳米 生态稻大米5kg</a></div>
                            <div class="p_operate"><a href="#">加入购物车</a> <span class="Number"><b>123</b>购买</span></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="Paging">
                <a href="#" class="pn-prev disabled"><i>&lt;</i>上一页</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">下一页<i>&gt;</i></a>
                <a href="#">尾页</a>
                <span class="p-skip"><em>共<b>232</b>页&nbsp;&nbsp;到第</em><input id="page_jump_num" value="1" onkeydown="javascript:if(event.keyCode==13){page_jump();return false;}" class="input-txt"><em>页</em><a href="javascript:page_jump();" class="btn btn-default">确定</a></span>
            </div>
        </div>
        <!--浏览商品-->
        <div class="pic_Browse">
            <div class="title_name">浏览商品</div>
            <div class="Browse_list">
                <ul>
                    <li>
                        <div class="prc_img center"><a href="#"><img src="/static/images/p_sg_15.png" /></a></div>
                        <div class="prc_name"><a herf="#">YQYQ 美国进口华盛顿 车厘子 2斤装 新鲜大樱桃 新鲜水果 果径</a></div>
                        <div class="prc_price">￥7.20</div>
                    </li>
                    <li>
                        <div class="prc_img center"><a href="#"><img src="/static/images/p_sg_15.png" /></a></div>
                        <div class="prc_name"><a herf="#">YQYQ 美国进口华盛顿 车厘子 2斤装 新鲜大樱桃 新鲜水果 果径</a></div>
                        <div class="prc_price">￥7.20</div>
                    </li>
                    <li>
                        <div class="prc_img center"><a href="#"><img src="/static/images/p_sg_15.png" /></a></div>
                        <div class="prc_name"><a herf="#">YQYQ 美国进口华盛顿 车厘子 2斤装 新鲜大樱桃 新鲜水果 果径</a></div>
                        <div class="prc_price">￥7.20</div>
                    </li>
                    <li>
                        <div class="prc_img center"><a href="#"><img src="/static/images/p_sg_15.png" /></a></div>
                        <div class="prc_name"><a herf="#">YQYQ 美国进口华盛顿 车厘子 2斤装 新鲜大樱桃 新鲜水果 果径</a></div>
                        <div class="prc_price">￥7.20</div>
                    </li>
                    <li>
                        <div class="prc_img center"><a href="#"><img src="/static/images/p_sg_15.png" /></a></div>
                        <div class="prc_name"><a herf="#">YQYQ 美国进口华盛顿 车厘子 2斤装 新鲜大樱桃 新鲜水果 果径</a></div>
                        <div class="prc_price">￥7.20</div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!--底部样式-->
    <!--底部样式-->
    <div class="slogen">
        <p><img src="/static/images/fuwu_56.png" /></p>
        <p><img src="/static/images/fuwu_57.png" /></p>
        <p><img src="/static/images/fuwu_58.png" /></p>
        <p><img src="/static/images/fuwu_59.png" /></p>
    </div>
    <div class="footer">
        <div class="left_footer">
            <div class="b_mc_y"><p class="tubiao"></p><p class="gy_name">品质保证 安全放心<br /><span>打造蔬菜水果专业购物平台</span></p></div>
            <div class="b_mc_y"><p class="phone_img"></p><p class="phone"><b>028-44332-2232</b><br /><span>周一至周六 10:00-22:00</span></p></div>
            <div class="b_mc_y"><p class="phone_sj_img"></p><p class="phone"><b>189083323211</b><br /><span>24小时客户服务热线</span></p></div>
        </div>
        <div class="right_footer">
            <dl class="fore1">
                <dt><strong>购物指南</strong></dt>
                <dd>
                    <div><a href="#" target="_blank" rel="nofollow">购物流程</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">会员介绍</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">团购/机票</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">常见问题</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">大家电</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">联系客服</a></div>
                </dd>
            </dl>
            <dl class="fore1">
                <dt><strong>购物指南</strong></dt>
                <dd>
                    <div><a href="#" target="_blank" rel="nofollow">购物流程</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">会员介绍</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">团购/机票</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">常见问题</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">大家电</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">联系客服</a></div>
                </dd>
            </dl>
            <dl class="fore1">
                <dt><strong>购物指南</strong></dt>
                <dd>
                    <div><a href="#" target="_blank" rel="nofollow">购物流程</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">会员介绍</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">团购/机票</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">常见问题</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">大家电</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">联系客服</a></div>
                </dd>
            </dl>
            <dl class="fore1">
                <dt><strong>购物指南</strong></dt>
                <dd>
                    <div><a href="#" target="_blank" rel="nofollow">购物流程</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">会员介绍</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">团购/机票</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">常见问题</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">大家电</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">联系客服</a></div>
                </dd>
            </dl>
            <dl class="fore1">
                <dt><strong>购物指南</strong></dt>
                <dd>
                    <div><a href="#" target="_blank" rel="nofollow">购物流程</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">会员介绍</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">团购/机票</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">常见问题</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">大家电</a></div>
                    <div><a href="#" target="_blank" rel="nofollow">联系客服</a></div>
                </dd>
            </dl>
        </div>
    </div>
{% endblock %}


{% block content5 %}

{% endblock %}
{% block content6 %}

{% endblock %}
{#    {% block content7 %}#}
{##}
{#    {% endblock %}#}
{#    {% block content8 %}#}
{##}
{#    {% endblock %}#}
{#    {% block footer %}#}
{##}
{#    {% endblock %}#}


{% block ext_js %}
    {{ block.super }}
    <script src="/static/js/jquery1.42.min.js" type="text/javascript"></script>
    <script src="/static/js/common_js.js" type="text/javascript"></script>
    <script src="/static/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
{% endblock %}
</body>
</html>